<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iris</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <a href="/" class="navbar-brand">Iris</a>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Signup</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1>Title</h1>
        <p class="lead">Subtitle</p>
      </div>
      <div>
        TODO Send notification form
      </div>
      <div>
        TODO Devices list
      </div>
      <div>
        TODO Applications list
      </div>

      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
            </ul>
            <p>TODO version/contact</p>
            <p>Code released under the <a href="#">MIT License</a>.</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
