<footer id="footer" class="navbar fixed-bottom bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <a href="https://github.com/JosKar/iris_server">Iris version <%= :application.get_key(:iris, :vsn) |> elem(1) %></a>
      </div>
      <div class="col-lg-6 text-right">
        <p>Released under the <a href="#">MIT License</a>.</p>
      </div>
    </div>
  </div>
</footer>
